<div class="carousel">
  <!-- Left Button -->
  <button class="carousel-btn left" (click)="prevSlide()">‹</button>

  <!-- Carousel Track -->
  <div class="carousel-track" [style.transform]="getTrackTransform()">
    <!-- Card Wrappers for each image -->
    <div class="card-wrapper" *ngFor="let image of images">
      <div class="logo">
        <img
          [src]="'../../assets/education/' + image.name"
          alt="{{ image.alt }}"
          [style.backgroundSize]="'contain'"
          [style.backgroundRepeat]="'no-repeat'"
        />
        <div class="card-text">
          <p class="card-year">{{ image.year }}</p>
          <p class="card-details">{{ image.details }}</p>
          <p class="card-title">{{ image.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Button -->
  <button class="carousel-btn right" (click)="nextSlide()">›</button>
</div>
