<!-- <div mat-dialog-content class="dialog-wrapper">
  <div class="card-wrapper">
    <div class="logo">
      <img src="../../assets/education/sec+.png" alt="security plus logo" />
      <div class="card-text">
        <p class="card-title">CompTIA Security+</p>
        <p class="year">valid until 2025</p>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="logo">
      <img
        src="../../assets/education/bellevue.png"
        alt="bellevue university logo"
      />
      <div class="card-text">
        <p class="card-title">Bachelor of Science</p>
        <p class="card-major">Web Development</p>
        <p class="card-extra">Summa Cum Laude</p>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="logo">
      <img
        src="../../assets/education/ccaf.png"
        alt="community college of the air force logo"
        style="width: 90%; height: 90%"
      />
      <div class="card-text">
        <p class="card-title">Associate Degree</p>
        <p class="card-major">Business Administration</p>
      </div>
    </div>
  </div>
</div> -->

edu works not

<a>resume</a>
