<div class="dialog-wrapper">
  <img
    class="background-image"
    [src]="data.info.image"
    alt="location specific patch"
  />
  <div class="job-title">{{ data.info.jobTitle }}</div>
  <br />
  <!-- job location and dates -->
  <div class="header-wrapper">
    <div class="location-wrapper">
      <div class="job-company">{{ data.info.jobCompany }}</div>
      <div class="job-location">{{ data.info.jobLocation }}</div>
    </div>
    <div class="date-wrapper">
      <div class="job-dates">{{ data.info.jobDates }}</div>
    </div>
  </div>
  <br />
  <!-- job details & duties -->
  <div class="job-details-wrapper" *ngFor="let detail of data.info.jobDetails">
    <div class="job-duty">- {{ detail.jobDuty }}</div>
    <ul>
      <li *ngFor="let item of detail.jobDetails">{{ item }}</li>
    </ul>
  </div>
  <br />
  <!-- job skills -->
  <!-- <div class="skill-wrapper">
    <div class="skill-title">soft skills</div>
    <div class="skill-row">
      <div class="skill-container" *ngFor="let skill of data.info.jobSkills">
        <button mat-stroked-button>{{ skill }}</button>
      </div>
    </div>
  </div> -->
  <div mat-dialog-actions class="actions" align="end">
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
