/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
  margin: 0 auto;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cdk-overlay-container .dialog-wrapper {
  box-shadow: 0px 0px 350px rgba(255, 255, 255, 0.3) !important;
  border-radius: 25px;
}
